/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "../shared/index.scss";

.wp-block-bugtb-heading {
  .headline {
    &--red {
      color: #ff0000;
    }

    &--green {
      color: #005900;
    }

    &--blue {
      color: #0000ff;
    }

    &--large {
      font-size: 32px;
    }

    &--medium {
      font-size: 24px;
    }

    &--small {
      font-size: 18px;
    }
  }
}
