/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-bwl-block-bwl-latest-posts-gt-block {
	background: #eee;
	border: 1px solid #ccc;
	padding: 12px;
	div {
		margin: 0 0 1rem 0 !important;
		div {
			margin: 0px !important;
		}
		h2 {
			line-height: 1.5rem !important;
			margin: 0 !important;
			font-size: 24px;
			font-weight: 600;
			a {
				text-decoration: none;
			}
		}
		time {
			font-size: 14px;
		}
	}
}
