/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-bwl-block-bwl-latest-posts-gt-block {
	background: #eee;
	border: 1px solid #ccc;
	padding: 12px;

	div.blog-post {
		margin: 0 0 1rem 0 !important;

		div {
			margin: 0 !important;
		}

		h2 {
			line-height: 24px !important;
			margin: 0 !important;
			font-weight: 600;

			a {

				div {
					font-size: 24px;
				}
				text-decoration: none;
			}

		}

		time {
			font-size: 14px;
		}

	}

}
