/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-bwl-block-bwl-latest-posts-gt-block {
	background: #eee;
	border: 1px solid #ccc;
	padding: 12px;

	div.blog-post {
		margin: 0 0 1rem 0 !important;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: start;
		gap: 6px;

		div {
			margin: 0 !important;
		}

		h2 {
			line-height: 24px !important;
			margin: 0 !important;
			font-weight: 600;
			max-width: 400px;

			a {

				font-size: 24px;
				text-decoration: none;
			}

		}


		.excerpt {
			font-size: 14px;

			p {
				margin: 0;
			}
		}

		time {
			font-size: 12px;
			font-style: italic;
		}

	}

}
