/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.latest-post-block {

	display: flex;
	flex-direction: column;
	gap: 12px;
	justify-content: center;
align-items: flex-start;
	.post-content {
		clear: both;

		h2 {
			font-size: 24px;

			a {
				text-decoration: none;
			}

		}

	}

}
